body {
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
}
p {
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  color: #12335C;
  margin: 0;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #28547C;
  margin: 0;
}

/* ///////////////HERO-CONTAINER//////////// */
.hero-container {
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/gradient.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  justify-content: space-around;
  align-items: center;
}
.hero-container > p {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  color: #ffffff99;
}
h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  color: #000000;
}
.smileyface-image {
  width: 200px;
}
.hero-h2-container {
  width: 100%;
  height: 90px;
  background-image: url(./assets/images/squiggle-line.png);
  background-size: 100% 75%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 1.25rem;
}

/* ///////////////MIDDLE-CONTAINER//////////// */
.middle-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15% 0 15%;
  align-items: center;
  justify-content: space-around;
}
.middle-container h2 {
  margin-bottom: 1rem;
}
.introduction-section {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.details-section-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-direction: row-reverse;
}
.left-details-section {
  text-align: left;
  flex-grow: 2;
}
.right-details.section {
  flex-grow: 1;  
}
.resume-image {
  width: 100%;
}

/* ///////////////BOTTOM-CONTAINER//////////// */
.bottom-container {
  width: 100%;
  height: 90vh;
  height: 90svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.contact-text {
  margin: 0 15% 0 15%;
}
.contact-button {
  width: 12rem;
  height: 5rem;
  background-color: #9BBED0;
  color: #12335C;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.icon {
  width: 2rem;
}
footer {
  background-image: url(./assets/images/gradient.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 10vh;
  height: 10svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 1rem;
  color: #000000;
}

/* ///////////////MEDIA-QUERIES//////////// */

@media (max-width: 768px) {
  .middle-container {
    padding: 0 5% 0 5%;
  }
  .details-section-content {
    display: block;
  }
  .left-details-section {
    text-align: left;
  }
  .right-details-section { 
    width: 10rem;
    float: right;
  }
  .resume-image {
    width: 100%;
  }
  .bottom-links {
    gap: 3rem;
  }
}

@media (min-width: 769px) {
  .middle-container {
    padding: 0 20% 0 20%;
  }
  .contact-text {
    margin: 0 20% 0 20%;
  }
}